extends ./includes/layout

block content
  .col-md-7.col-lg-6.col-sm-12.relative.m-auto
    h1.text-center.text-primary Создание преподавателя
    form(action="/admin/new_teacher", method="post").rounded
      .form-group
        input(type="text", name="username", placeholder="Логин").form-control.form-input-login
      .form-group
        input(type="email", name="email", placeholder="Почта").form-control.form-input-login
      .form-group
        input(type="password", name="password", placeholder="Пароль").form-control.form-input-login
      .form-group
        input(type="password", name="password2", placeholder="Повторите пароль").form-control.form-input-login
      .form-group
        input(type="text", name="firstname", placeholder="Имя").form-control.form-input-login
      .form-group
        input(type="text", name="lastname", placeholder="Фамилия").form-control.form-input-login
      .form-group
        input(type="text", name="middlename", placeholder="Отчество").form-control.form-input-login
      .form-group
        input(type="text", name="phone", placeholder="Номер").form-control.form-input-login
      .form-group
        input(type="submit", value="Создать").btn.btn-secondary.btn-lg.btn-block