extends ./includes/guest/layout

block content
  .col-md-5.col-lg-4.col-sm-12.relative.m-auto
    h1.text-center.text-primary Контроль
    .d-flex.justify-content-around
      a(href='/login' style='background: #e38c8c').btn.btn-outline-light.my-3.my-sm-0.ml-lg-3 Вход
      a(href='/registration' style='background: #e38c8c').btn.btn-outline-light.my-3.my-sm-0.ml-lg-3 Регистрация