.row
  .col-11.mx-auto
    nav.navbar.navbar-expand-lg.navbar-dark
      a(href="/student").navbar-brand
        img(src="/images/logo.png", alt="Лого").img-fluid
      button(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler
        span.navbar-toggler-icon
      div(id="navbarSupportedContent").collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a(href="/student/accessed_repositories", data-toggle="tooltip", data-placement="top", title="Здесь отображаются репозитории, преподаватели которых дали вам доступ.").nav-link ДОСТУПНЫЕ РЕПОЗИТОРИИ
          li.nav-item
            a(href="/student/closed_repositories", data-toggle="tooltip", data-placement="top", title="Здесь отображаются ваши закрытые репозитории.").nav-link ЗАКРЫТЫЕ
          li.nav-item
            a(href="/student", data-toggle="tooltip", data-placement="top", title="Здесь отображаются ваши текущие репозитории.").nav-link РЕПОЗИТОРИИ
          li.nav-item.dropdown
            a(id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false").nav-link.dropdown-toggle.btn.btn-sm.btn-secondary #{user.firstname}
            div(aria-labelledby="navbarDropdown").dropdown-menu
              a(href="/student/new_repository", data-toggle="tooltip", data-placement="left", title="Создать новый репозиторий для курсовой работы.").dropdown-item Новый репозиторий
              a(href="/student/profile", data-toggle="tooltip", data-placement="left", title="Открывается страница с вашими данными.").dropdown-item Профиль
              .dropdown-divider
              form(action="/logout", method="get")
                button(data-toggle="tooltip", data-placement="left", title="Выйти из вашего аккаунта.").dropdown-item Выйти