extends ./includes/layout

block content
  .row
    .mx-auto.col-md-7.col-lg-6.col-sm-12
      form(action="/student/new_repository", method="post")
        .form-group
          label(for="title").text-primary Название репозитория
          input(type="text", name="title", placeholder="Название репозитория.").form-control
        .form-group
          label(for="description").text-primary Название репозитория
          input(type="text", name="description", placeholder="Описание").form-control
        .form-group
          label(for="teachers").text-primary
          select(multiple, data-live-search="true", name="teachers").selectpicker.form-control
            each teacher in teachers
              option(value=teacher._id) #{teacher.lastname} #{teacher.firstname} #{teacher.middlename}
        .form-group
          button(type="submit").form-control.btn.btn-primary Создать
